<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FitBuddy - Se connecter{% endblock %}</title>
        <script src="https://kit.fontawesome.com/6429933a54.js" crossorigin="anonymous"></script>

        <link rel="icon" href="{{asset('./images/login.png')}}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('login') }}
        {% endblock %}

       
    </head>
    <body>


    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container-fluid connectClass">
		<div class="row">
			<div class="col-lg-7 col-md-12 col-12 formulaire">

				<img src="{{asset('./images/login.png')}}" width="230" style="margin:0 auto;" alt="">

				<div class="ConnectForm">

					<h2>Inscrivez-vous</h2>
					
					
						{{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm) }}
                            {{form_widget(registrationForm)}}

                            <button type="submit" class="btn">S'inscrire</button>
						<a href="{{ path('app_login') }}">Vous êtes déjà membre?
							<span style="color:#ffc800">
								Connectez-vous.</span>
						</a>
                        {{ form_end(registrationForm) }}


					

				</div>
			</div>
			<div class=" col-lg-5  bejaia_image"></div>
		</div>
	</div>
    </body>
</html>
